/* map */
#map {
    width: 100%;
    height: 700px;
}

img {
    display: block;
}

.info-window {
    width: 230px;
}

.info-window p {
    width: 230px;
}

.info-window img {
    display : block;
    margin : 0 auto;
}

.info-window a {
    display: block;
    width: 30px;
    margin: 0 auto;
    margin-top: 8px;
}

.container {
    width: 95%;
    margin: auto 0;
}
        
.visited {
    margin: 0 0px 20px auto;
    width: 260px;
}
/* upload */
.editImages {
    display: none;
}

.upload-form label {
    width: 80px;
}

.upload-form textarea {
    width: 400px;
    height: 150px;
}

.place-name-form input {
    margin-right: 20px;
}

.submit {
    margin-top: 10px;
}

/* login */
.login-form, .registration-form {
    width: 300px;
    margin: 0 auto;
}

/* detail */
.description {
    margin-top: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
}

.gallery {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    overflow: hidden;
}

.gallery_product {
    width: 200px !important;
    height: 200px !important;
    margin: 0 10px 0 10px !important;
}

.gallery_product a {
    width: auto;
    height: auto;
}

.image-form {
    display: block;
    clear: left;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
    overflow: hidden;
}

.input-box {
    width: auto;
    display: inline-block;
}
.image-form .input-box input {
    display: inline;
    margin-right: 10px;
}

.edit-form {
    display: block;
    margin-top: 30px;
    width: 100%;
    margin-bottom: 10px;
}

.edit-form input {
    display: block;
}

.place-created-at, .place-updated-at {
}

.error {
    color: red;
}

.right {
    text-align: right;
}

.image-error {
    margin-top: -20px;
    margin-bottom: 10px;
}
.comment-section {
    width: 70%;
}

.comment-section form{
    margin-bottom: 20px;
}

.comments {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 8px;
}

.comments tr {
    width: 100%;
}

.comments tr th {
    display: block;
    width: 100%;
    color: gray;
}

.comments tr .comment-date {
    display: inline-block;
    float:right;
}

.comments tr td {
    display: block; 
    clear: right;
}

.content-input {
    width: 300px;
    height: 100px;
}
/* footer */
footer {
    margin-top: 20px;
    width: 100%;
    display: block;
    
}
footer img {
    display: block;
    margin-left: auto;
    margin-right: 0;
}

