<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <title>スタンプマップ</title>
    <meta charset="utf-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/rin/css/bootstrap.min.css" />
    <script type="text/javascript" src="/rin/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <script type="text/javascript">
        function checkImageUpload(file) {
            let fileSize = 0;
            for (let i = 0; i < file.files.length; i++) fileSize += file.files[i].size;
            if (fileSize > 10485760) {
                $("#submit").prop("disabled", true);
                $("#max-size-error").text("アップロードできるのは10MB以内です");
                $("#max-size-error").show();
            } else {
                $("#submit").prop("disabled", false);
                $("#max-size-error").hide();
            }
        }
        
    </script>
</head>
</html>