<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>スタンプマップ</title>
    <link rel="stylesheet" href=""
</head>
<body>
    <div th:object="${place}">
        <h1 th:text="*{placeName}"></h1>
        <p th:text="*{description}"></p>
        <div th:each="publicId : *{publicIdsAndFormats}">
            <div>
                <a th:href="@{https://res.cloudinary.com/foehammer/image/upload/} + ${publicId}">
                   <img th:src="@{https://res.cloudinary.com/foehammer/image/upload/w_200,h_200,c_limit/} + ${publicId}" />
                </a>
            </div>
        </div>
        <form role="form" th:action="@{__${#httpServletRequest.requestURI}__/image}" enctype="multipart/form-data" method="post">
            <input type="file" name="images[]" multiple="multiple" accept="image/png, image/jpg, image/jpeg" th:field="*{images}" />
            <input type="submit" value="画像の追加" />
        </form>
        
    </div>
    <div th:object="${place}">
        <form role="form" th:action="@{/edit}" method="get">
            <input type="hidden" th:field="*{placeId}" />
            <input type="hidden" th:field="*{placeName}" />
            <input type="hidden" th:field="*{description}" />
            <input type="hidden" th:field="*{address}" />
            <input type="hidden" th:field="*{placeCreatedAt}" />
            <input type="hidden" th:field="*{placeUpdatedAt}" />
            <input type="hidden" th:field="*{latitude}" />
            <input type="hidden" th:field="*{longitude}" />
            <input type="hidden" th:field="*{userId}" />
            <input type="submit" th:value="編集（投稿ユーザのみ）" />
        </form>
    </div>
    <div>
        <div th:each="comment : ${commentList}">
            <div>
                <p th:text="${comment.userName}">anonymous</p>
                <p th:text="${comment.commentUpdatedAt != null} ? ${comment.commentUpdatedAt} : ${comment.commentCreatedAt}">-</p>
                <p th:text="${comment.content}"></p>
            </div>
        </div>
        <form role="form" th:action="@{__${#httpServletRequest.requestURI}__/commentsubmit}" th:object="${newComment}" method="post">
            <label>コメント</label>
            <textarea th:field="*{content}" />
            <input type="submit" value="送信" />
        </form>
    </div>
</body>
</html>
