<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons/head">
    <title>スタンプマップ</title>
</head>
<body>
    <nav th:replace="commons/navigation :: navigation">placeholder</nav>
    <div th:class="container">
        <div th:object="${place}">
            <h1 th:class="detail-h1" th:text="*{placeName}">placeholder</h1>
            <p th:class="description" th:text="*{description}"></p>
            <p th:class="address">住所: <span th:text="*{address}"></span></p>
            <div th:class="gallery">
                 <div th:each="publicId : *{publicIdsAndFormats}" class="gallery_product col-lg-2 col-md-2 col-sm-4 col-xs-6 filter hdpe">
                    <a th:href="@{https://res.cloudinary.com/foehammer/image/upload/} + ${publicId}">
                       <img th:src="@{https://res.cloudinary.com/foehammer/image/upload/w_200,h_200,c_limit/} + ${publicId}" />
                    </a>
                </div>
            </div>
            <form class="image-form" role="form" th:action="@{__${#httpServletRequest.requestURI}__/image}" enctype="multipart/form-data" method="post" >
                <div class="input-box">
                    <input type="file" name="images[]" multiple="multiple" accept="image/png, image/jpg, image/jpeg" th:field="*{images}" />
                    <input type="submit" value="画像の追加" /><span>（10MB以上は403エラーになります）</span>
                </div>
            </form>
            <p th:class="place-created-at">登録日時: <span th:text="*{placeCreatedAt}"></span></p>
            <p th:class="*{placeUpdatedAt}==null ? hidden : 'place-updated-at'">更新日時<span th:text='*{placeUpdatedAt}'></span></p>
            <div class="error right image-error" th:classappend="${imageLoggedIn}">
                <p>ログインが必要です。</p>
            </div>
        </div>
        <div th:class="edit-form" th:object="${place}">
            <form role="form" th:action="@{/edit}" method="get">
                <input type="hidden" th:field="*{placeId}" />
                <input type="hidden" th:field="*{placeName}" />
                <input type="hidden" th:field="*{description}" />
                <input type="hidden" th:field="*{address}" />
                <input type="hidden" th:field="*{placeCreatedAt}" />
                <input type="hidden" th:field="*{placeUpdatedAt}" />
                <input type="hidden" th:field="*{latitude}" />
                <input type="hidden" th:field="*{longitude}" />
                <input type="hidden" th:field="*{userId}" />
                <input type="submit" th:value="編集" />
            </form>
        </div>
        <div class="error right" th:classappend="${editLoggedIn}">
            <p>ログインが必要です。</p>
        </div>
        <div class="comment-section">
            <form role="form" th:action="@{__${#httpServletRequest.requestURI}__/commentsubmit}" th:object="${newComment}" method="post">
                <label>コメント</label>
                <br />
                <textarea th:class="content-input" th:field="*{content}" />
                <input type="submit" value="送信" />
            </form>
            <div th:class="${commentLoggedIn}" th:classappend="error">
                <p>ログインが必要です。</p>
            </div>
            <table th:class="comments" th:each="comment : ${commentList}">
                <tr>
                    <th th:class="comment-head">
                        <span th:class="comment-user-name" th:text="${comment.userName}">anonymous</span>
                        <span th:class="comment-date" th:text="${comment.commentUpdatedAt != null} ? ${comment.commentUpdatedAt} : ${comment.commentCreatedAt}">-</span>
                    </th>
                    
                    <td th:class="comment-content" th:text="${comment.content}"></td>
                
            </table>
        </div>
        <footer th:replace="commons/footer :: footer"></footer>
    </div>
</body>
</html>
