<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <title>head</title>
    <meta charset="utf-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/rin/css/bootstrap.min.css" />
    <script type="text/javascript" src="/rin/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/style.css" />
</head>
</html>