<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>スタンプマップ</title>
    <link rel="stylesheet" type="text/css" href="/rin/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="/rin/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/style.css"></link>
</head>
<body>
    <nav th:replace="navigation :: navigation"></nav>
    <form role="form" th:action="@{/login}" th:object="${user}" method="post">
        <div class="form-group">
            <label>ユーザ名</label>
            <input type="text" th:field="*{userName}" class="form-control"/>
        </div>
        <div class="form-group">
            <label>パスワード</label>
            <input type="password" th:field="*{password}" class="form-control"/>
        </div>
        <button type="submit" class="btn btn-defualt">送信</button>
    </form>
</body>
</html>