<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons/head">
    <title>スタンプマップ</title>
</head>
<body>
    <div class="container">
        <nav th:replace="commons/navigation :: navigation"></nav>
        <form th:class="login-form" role="form" th:action="@{/login}" th:object="${user}" method="post">
            <div class="form-group">
                <label>ユーザ名</label>
                <input type="text" th:field="*{userName}" class="form-control"/>
            </div>
            <div class="form-group">
                <label>パスワード</label>
                <input type="password" th:field="*{password}" class="form-control"/>
            </div>
            <button type="submit" class="btn btn-defualt">送信</button>
            <div th:class="${hasError} ? error : hidden">
                <p>ユーザ名とパスワードに一致するユーザが登録されていません</p>
            </div>
        </form>
        <footer th:replace="commons/footer :: footer"></footer>
    </div>
</body>
</html>