<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons/head :: head">
    <title>スタンプマップ</title>
</head>
<body>
    <nav th:replace="commons/navigation :: navigation"></nav>
    <div class="container">
        <form th:class="registration-form" role="form" th:action="${isLoggedIn} ? @{/account} : @{/registration}" th:object="${user}" method="post">
            <div th:class="form-group">
                <label th:text="${isLoggedIn} ? 新しいユーザ名 : ユーザ名">ユーザ名</label><span>（半角英数字）</span>
                <input class="form-control" type="text" th:field="*{userName}" />
            </div>
            <div th:class="form-group">
                <label th:text='${isLoggedIn} ? 新しいパスワード : パスワード'>パスワード</label><span>（半角英数字）</span>
                <input class="form-control" type="password" th:field="*{password}" />
            </div>
            <div th:class="form-group">
                <label　th:text='${isLoggedIn} ? 新しいパスワード（確認用） : パスワード（確認用）'>パスワード（確認用）</label>
                <input class="form-control" type="password" th:field="*{passwordConfirm}" />
            </div>
            <input type="hidden" th:field="*{userId}" />
            <input type="submit" value="送信" />
            <ul th:class="error-list" th:each="e : ${#fields.detailedErrors('*')}">
                <li th:text="${e.message}">The error message</li>
            </ul>
        </form>
        <footer th:replace="commons/footer :: footer"></footer>
    </div>
</body>
</html>
