<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>スタンプマップ</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script th:replace="../static/upload-js :: script"></script>
    <style>
        #map {
            width: 600px;
            height: 600px;
        }
        .editImages {
            display: none;
        }
        
        .hidden {
            display: none;
        }
    </style>
</head>
<body>
    <form id="form" role="form" th:action="${actionUrl}" th:object="${place}" enctype="multipart/form-data" method="post">
        <label>スポット名</label>
        <input type="text" th:field="*{placeName}" />
        <input type="submit" th:formaction="${fillActionUrl}" th:formmethod="post" value="スポット名から住所、緯度・経度を検索" />
        <select id="candidates" class="hidden"></select>
        <label>説明</label>
        <textarea th:field="*{description}"/>
        <label>住所</label>
        <input id="address" type="text" th:field="*{address}" />
        <label>緯度</label>
        <input id="latitude" type="text" th:field="*{latitude}" />
        <label>経度</label>
        <input id="longitude" type="text" th:field="*{longitude}" />
        <label th:class="${imagesClass}">画像
            <input type="file" name="images[]" multiple="multiple" accept="image/png, image/jpg" th:field="*{images}" />
        </label>
        <input type="hidden" th:field="*{placeId}" />
        <input type="submit" value="送信" />
        <ul th:each="e : ${#fields.detailedErrors('*')}">
            <li th:text="${e.message}">The error message</li>
        </ul>
    </form>
    <div id="map"></div>
    <script async defer src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyDNwAXlo4dArvIJa7J9nKGZUUqJfuYtqgg&callback=initMap"> </script>
</body>
</html>
